.backdrop {
	display: flex;
	justify-content: center;
	background-color: brown;
	height: 100vh;
	align-items: center;
}

.quote-container {
	width: 450px;
	position: relative;
	border-radius: 3px;
	background-color: #fff;
}

.quote-box {
	padding: 20px;
	display: table;
	width: 410px;
}

.quote-text {
	text-align: center;
}

.author-container {
	text-align: right;
}

.social-button {
	border: none;
	border-radius: 3px;
	color: white;
	background-color: brown;
	margin: 2px;
	padding: 4px;
	text-align: center;
	width: 30px;
	display: inline-block;
}

.new-quote {
	float: right;
	margin: 0px;
	width: 80px;
}

.quote-box-footer,
.author {
	padding-top: 15px;
}
